<%-include("./partials/Navbar")-%>
<div class="overflow-hidden mt-20 border-2 border-solid border-gray-100 rounded-md m-4 md:m-15 flex md:flex-row flex-col-reverse justify-center">
    <div class="w-full md:w-1/3 md:m-15 md:ml-20 p-0 mt-4">
        <div class="flex flex-col">
            <h1 class="tracking-tighter text-3xl md:text-5xl font-semibold md:font-bold text-center md:text-left mb-4"><span class="tracking-tighter font-semibold md:font-bold text-3xl md:text-5xl bg-gradient-to-r bg-clip-text text-transparent from-indigo-500 via-purple-500 to-indigo-600 animate-text">One</span> <!-- -->And Only Place For New Learning Everyday</h1>
            <h2 class="tracking-tighter text-3xl font-medium text-center md:text-left text-slate-500 mb-4">The Digital Home And Community For Readers And Writers!</h2>
            <h2 class="tracking-tighter text-xl font-medium text-center md:text-left text-gray-600">Discover Explore And Share The LimitLess Knowledge</h2>
        </div>
        <a href="/ArticleOneBlogs"><button type="submit" class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Explore Now</button></a>
    </div>
    
    <div class="w-full md:w-1/3 flex justify-center mr-10 m-2">
    <img src="./images/homeleft.png" class="h-[20vh] sm:h-[40vh] md:h-[50vh]">
    </div>
</div>