<%-include("./partials/Header")-%>
<%-include("./partials/Navbar")-%>

<div class="overflow-hidden mt-20 m-1 md:mt-20 md:m-52 border-2 border-solid border-gray-100 rounded-md md:m-15 flex md:flex-row flex-col-reverse justify-center">
        HI Hello This Is A Blog
</div>