<%-include("./partials/Header")-%>
<%-include("./partials/Navbar")-%>


<div class="overflow-hidden mt-20 m-1 md:mt-20 md:m-52 border-2 border-solid border-gray-100 rounded-md md:m-15 flex flex-col  justify-start">
<h1 class="font-semibold tracking-tighter mt-10 mb-3 text-lg sm:text-xl md:text-3xl"><%= AuthorName %></h1>
<p class="font-medium tracking-tighter mb-2 text-base sm:text-lg md:text-xl"><%= Title %></p>
<p class="font-medium tracking-tighter text-base sm:text-lg md:text-xl">Here We Will Be Have Our Blog Tiltle Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae amet nesciunt dignissimos eum necessitatibus eos id quas enim asperiores magnam temporibus quidem laudantium officiis sed reiciendis molestias aliquid, quis minima libero labore saepe dolores odio. Deleniti impedit quibusdam officia neque a suscipit ea quisquam laboriosam. Placeat ipsa itaque aut delectus.</p>
</div>