<%-include("./partials/Header")-%>
<section class="bg-gray-50 ">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="/" class="flex items-center mb-6 text-2xl font-semibold text-gray-90">
            ArticleOne
        </a>
        <div class="w-full bg-white rounded-lg shadow  md:mt-0 sm:max-w-md xl:p-0 ">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tighter text-gray-900 md:text-xl">
                    WelCome Back
                </h1>
                <form class="space-y-4 md:space-y-6">
                    <div>
                        <label for="userid" class="block mb-2 text-sm font-medium text-gray-900 ]">UserId</label>
                        <input type="text" name="userid" id="userid" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="UserId" >
                        <div id="useriderror" class="text-red-600"></div>
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Password</label>
                        <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="">
                        <div id="passworderror"></div>
                    </div>
                    <button type="submit" class="w-full text-red-50 bg-indigo-600  focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm px-5 py-2.5 text-center">Enhance Your Knowledge Now</button>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    
    const form=document.querySelector('form');
    const useriderror=document.querySelector('#useriderror');
    const passworderror=document.querySelector('#passworderror');
    form.addEventListener('submit',async (e)=>{
    e.preventDefault();

    const userid=form.userid.value;
    const password=form.password.value;

    try{
        const res =await fetch('/SignIn',{  
            method:'POST',
            body:JSON.stringify({userid,password}),
            headers:{'Content-Type':'application/json'},
        });
        const data = await res.json();
        if(data.errors){ 
                console.log(data.errors);  
                useriderror.textContent=data.errors.userid;
                passworderror.textContent=data.errors.password; 
        }
        if(data.user){
            location.assign('/');
        }
    }
    catch(e){
        console.log(e);  
    }
})
    

</script>